@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
    margin: 10px auto;
    max-width: 400px;
    background: linear-gradient(to top right, #fff 0%, #6699ff 100%) no-repeat fixed center;
}

.heading {
    text-align: center;
    color: red;
}

.items-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background : greenyellow;
}

    .items-list .bp3-tag {
        margin: 8px 0;
    }

    .items-list .bp3-checkbox {
        margin-left: 4px;
        margin-bottom: 4px;
    }

.finished {
    text-decoration: line-through;
}
